.intro {
  padding: 64px 0;
  background-color: #112233;
  color: #dddddd;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 64px), 0 100%);
}
.intro h2 {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.intro p {
  padding-bottom: 1rem;
}

.intro a {
  margin-right: 2rem;
  margin-bottom: 1rem;
}
