.projects {
    padding: 128px 0;
    background-color: #112233;
    color: #fff;
    clip-path: polygon(
        0 0,
        100% 64px,
        100% 100%,
        0 calc(100% - 64px)
    );

    h2 {
        font-family: 'Roboto Mono', monospace;
    }
    p {
        color: #dddddd;
    }
}

.projectGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    padding: 32px 0;

}
