.footer {
  padding: 128px 0 64px;
  background-color: #112233;
  color: #cccccc;
  clip-path: polygon(0 64px, 100% 0, 100% 100%, 0 100%);
}
.column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  gap: 2rem;
}

.category h3 {
  font-family: "Roboto Mono";
  font-size: 32px;
}
.category ul {
  list-style: none;
}
.category li {
  margin-bottom: 0.5em;
}

.link {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.link:hover,
.link:active {
  color: gold;
}
.linkDesc {
  font-weight: lighter;
}
.linkIcon {
  height: 0.8em;
  margin-right: 0.5em;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
}
